# Archivos de compilación de Python
__pycache__/
*.pyc
# Archivos de pipenv. Sólo dejamos requirements.txt
#Pipfile         este archivo se genera si uso pipenv
#Pipfile.lock    este archivo se genera si uso pipenv
# Deberíamos agregar la base de datos con:
# db.sqlite3